.menu{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
    /* height: 100vh; */
    top: 210px;
    /* vertical-align: center; */
}

.menu p{
    width: 40%;
    height: 20%;
    padding: 30px;
    /* background: blue; */
    text-align: center;
    border: 1px solid black;
    border-radius: 25px;
    font-size: 25px;
    border-bottom: 15px solid black;
}

.pvc{
    background: rgb(251,104,137);
}

.gamerules{
    background:rgb(255,206,103);
}